.details-card {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.show-reviews {
  margin-top: 4vw;
}

.leave-review {
  margin-top: 6vw;
}

.review-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
}

.single-review {
  margin: auto;
  margin-top: 2vw;
  width: 50%;
}