.homeReviews {
  font-size: large;
  background-color: lightsteelblue;
  width: 50%;
  padding: 3px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2em;
  border-width: 3px;
}